@media all and (max-width: 1199px) {
    .about-me .all-container {
        padding: 1.7rem 4rem 0 2rem;
    }
    .blog a.button {
        padding: .7rem 2rem;
        font: normal 600 15px/20px var(--font-1);
        position: relative;
        border: 2px solid var(--primary-color);
        border-radius: 25px;
        text-transform: uppercase;
    }
}

@media all and (max-width: 1024) {
    header .navbar .navbar-nav {
        padding: 0 0 0 5rem;
    }
}
