@media all and (max-width: 1199px) {
    header .navbar-brand {
        padding: .5rem 1rem .5rem 0;
    }
    header .navbar .navbar-nav {
        padding: 0 0 0 1rem;
    }
    header .navbar .nav-link {
        font: normal 600 15px/17px var(--font-1);
        text-transform: uppercase;
        /* margin: 0 .2rem; */
        color: var(--primary-color2) !important;
        transition: .2s ease;
    }
    .button {
        margin: .2rem .5rem;
    }
    .blog a.button{
        font: normal 600 15px/20px var(--font-1);
        margin: .5rem .5rem;
    }
}
@media all and (max-width: 1024px) {
    .hero .row .row {
        margin: 0 0 2rem 0;
    }
    .about-me .all-container {
        padding: 1.7rem 1rem 0 2rem;
    }
    .button {
       display: inline-block;
    }
    .about-me .row a.primary-button {
        margin: 0 0 0 0;
    }
    .letest-project .img-box,
    .letest-project .img-box2{
        height: 100%;
        width: 100%;
        max-height: inherit;
    }
    
}
@media all and (max-width: 768px) {
    .test .content {
        margin: 0 3rem;
        background: #e2e2e2;
        color: #555555;
        font: normal 500 15px/25px var(--font-1);
    }
}
@media all and (max-width: 425px) {
    header .hero .img-area {
        padding: 0 0rem 0 .5rem;
        margin: 0 auto;
    }
    header .hero .title-s {
        font: normal 600 18px/18px var(--font-1);
        color: var(--primary-color2);
        padding: 0 0 1.3rem 0;
    }
    .button{
        padding: .5rem 1.5rem;
        font: normal 600 15px/20px var(--font-1);
    }
    .letest-project .img-box,
    .letest-project .img-box2 {
        padding: 0 1rem;
    }
    footer .footer-title {
        font: normal 500 13px/14px var(--font-2);
        color: #666666;
        text-align: center;
        padding: .5rem 0;
    }
    footer .social {
        text-align: center;
    }
    h2 {
        font: normal 600 34px/37px var(--font-1);
        color: var(--primary-color);
    }
}