@import url(./_partials/font.css);
@import url(./_partials/global.css);
@import url(./_partials/variables.css);

/* Header Area */
header{
    background: #FAFAFA;
}
header .navbar-brand{
    padding: .5rem 2rem;
}
header .navbar-brand > img{
    width: 100%;
    height: auto;
}
header .navbar .navbar-nav{
    padding: 0 0 0 4rem;
}
header .navbar .nav-link{
    font: normal 600 17px/19px var(--font-1);
    text-transform: uppercase;
    margin: 0 .2rem;
    color: var(--primary-color2)   !important;
    transition: .2s ease;
}
header .navbar .nav-link.active{
    color: var(--primary-color) !important;
}
header .navbar .nav-link:hover{
    color: var(--primary-color) !important;
}